@model HellsFilmsMovie

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Добавление фильма</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Фильм</a></li>
						<li> <span class="ion-ios-arrow-right"></span>Добавление</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="#">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsMovieName" class="control-label">Наименование</label>
                            <input asp-for="HellsFilmsMovieName" class="form-control" />
                            <span asp-validation-for="HellsFilmsMovieName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsMovieDate" class="control-label">Дата (гггг)</label>
                            <input asp-for="HellsFilmsMovieDate" class="form-control" />
                            <span asp-validation-for="HellsFilmsMovieDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsMovieRating" class="control-label">Рейтинг</label>
                            <input asp-for="HellsFilmsMovieRating" class="form-control"></input>
                            <span asp-validation-for="HellsFilmsMovieRating" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsMovieIDFilms" class="control-label">ID Фильма с KINOPOISK</label>
                            <input asp-for="HellsFilmsMovieIDFilms" class="form-control" />
                            <span asp-validation-for="HellsFilmsMovieIDFilms" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsMoviePhoto" class="control-label">Ссылка на фото</label>
                            <input asp-for="HellsFilmsMoviePhoto" class="form-control" />
                            <span asp-validation-for="HellsFilmsMoviePhoto" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">Создать</button>
                        </div>
                    </form>
				</div>
                <div>
                    <a asp-action="Index">Вернуться обратно</a>
                </div>
			</div>
		</div>
	</div>
</div>