@model HellsFilmsSerial

<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Добавление сериала</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Сериал</a></li>
                        <li> <span class="ion-ios-arrow-right"></span>Добавление</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="form-style-1 user-pro" action="#">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsSerialName" class="control-label">Наименование</label>
                            <input asp-for="HellsFilmsSerialName" class="form-control" />
                            <span asp-validation-for="HellsFilmsSerialName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsSerialDate" class="control-label">Дата (гггг)</label>
                            <input asp-for="HellsFilmsSerialDate" class="form-control" />
                            <span asp-validation-for="HellsFilmsSerialDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsSerialRating" class="control-label">Рейтинг</label>
                            <input asp-for="HellsFilmsSerialRating" class="form-control"></input>
                            <span asp-validation-for="HellsFilmsSerialRating" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsSerialIDSerial" class="control-label">ID Фильма с KINOPOISK</label>
                            <input asp-for="HellsFilmsSerialIDSerial" class="form-control" />
                            <span asp-validation-for="HellsFilmsSerialIDSerial" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsSerialPhoto" class="control-label">Ссылка на фото</label>
                            <input asp-for="HellsFilmsSerialPhoto" class="form-control" />
                            <span asp-validation-for="HellsFilmsSerialPhoto" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">Создать</button>
                        </div>
                    </form>
                </div>
                <div>
                    <a asp-action="Index">Вернуться обратно</a>
                </div>
            </div>
        </div>
    </div>
</div>