
<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header logo">
				<div class="navbar-toggle" data-toggle="collapse">
					<span class="sr-only">Toggle navigation</span>
					<div id="nav-icon1">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<a asp-controller="Home" asp-action="Index"><img class="logo" src="~/images/logo1.png" alt="" width="119" height="58"></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav flex-child-menu menu-left">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li class="dropdown first">
						<a asp-controller="MovieList" asp-action="Index">Фильмы</a>
					</li>
					<li class="dropdown first">
						<a asp-controller="Serial" asp-action="Index">Сериалы</a>
					</li>
					<li class="dropdown first">
						<a asp-controller="Blog" asp-action="Index">Новости</a>
					</li>
				</ul>
				<ul class="nav navbar-nav flex-child-menu menu-right">
					@if (User.Identity?.IsAuthenticated ?? false)
					{
						<li class="nav-item">
							<a asp-controller="Account" asp-action="Logout">Привет, @User.Identity.Name, Выход</a>
						</li>
						@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
						{
							<li class="nav-item">
								<a asp-area="Admin" asp-controller="AdminMovie" asp-action="Index">Редактирование</a>
							</li>
						}
					}
					else
					{
						<li >
							<a asp-controller="Account" asp-action="Login">Вход</a>
						</li>
						<li >
							<a asp-controller="Account" asp-action="Create">Регистрация</a>
						</li>
					}
				</ul>
				
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</div>
</header>
<!-- END | Header -->