<meta charset="UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">


<!--Google Font-->
<!-- Mobile specific meta -->
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone-no">

<!-- CSS files -->
@if (ViewBag.Title != null)
{
    <title>HellsFilms</title>
}
else
{
    <title>HellsFilms</title>
}